<div class="col-md-12" style="margin-top: 3%;">
    <div class="row">
        <div class="col-md-12">
            <h1>Hostory <span style="border: 1px solid;border-radius: 10px;padding: 5px;cursor: pointer;background-color: skyblue" (click)="save()"> ADD DATA</span></h1>

            <div class="row form-group">
                <div class="col-md-4">
                    <h3>Progress Bar {{progVal}}%</h3>
                    <mat-progress-bar mode="determinate" value="{{progVal}}"></mat-progress-bar>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>

            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
            </mat-form-field>

            <div class="table-responsive">
                <table class="table" mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="srNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10px;"> ID </th>
                        <td mat-cell *matCellDef="let row;let i = index" style="width: 10px;"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="empName">
                        <th mat-header-cell class="col-padding" *matHeaderCellDef mat-sort-header style="width: 200px;"> Name </th>
                        <td mat-cell *matCellDef="let row" style="width: 200px;"> {{row.empName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="empAddress">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 200px;"> Address </th>
                        <td mat-cell *matCellDef="let row" style="width: 200px;"> {{row.empAddress}} </td>
                    </ng-container>

                    <ng-container matColumnDef="empContact">
                        <th class="col-padding" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 200px;"> Contact </th>
                        <td mat-cell *matCellDef="let row" style="width: 200px;"> {{row.empContact}} </td>
                    </ng-container>

                    <ng-container matColumnDef="empEmail">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 200px;"> Email </th>
                        <td mat-cell *matCellDef="let row" style="width: 200px;"> {{row.empEmail}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 200px;text-align: center;">
                            Action </th>
                        <td mat-cell *matCellDef="let row;let i = index" style="width: 200px;">
                            <mat-icon style="margin-left: 10px;margin-right: 10px;cursor: pointer;" (click)="view(i)">remove_red_eye
                            </mat-icon>
                            <mat-icon style="margin-left: 10px;margin-right: 10px;cursor: pointer;color: blue" (click)="edit(i)">
                                edit</mat-icon>
                            <mat-icon style="margin-left: 10px;margin-right: 10px;cursor: pointer;color: red" (click)="delete(i)">
                                delete</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>
</div>