<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-9">
    <mat-card class="mycard">
      <mat-card-content>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <form class="pagefont" [formGroup]="employeeDataForm" autocomplete="off">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <h1 style="text-align: center">Employee Details</h1>
                    <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width " appearance="outline" [formGroup]="employeeDataForm">
                          <mat-label>Name</mat-label>
                          <input matInput placeholder="Name" [(ngModel)]="employeeData.empName" formControlName="empName">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width " appearance="outline" [formGroup]="employeeDataForm">
                          <mat-label>Email</mat-label>
                          <input matInput placeholder="Email" [(ngModel)]="employeeData.empEmail" formControlName="empEmail">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width " appearance="outline" [formGroup]="employeeDataForm">
                          <mat-label>Contact</mat-label>
                          <input matInput placeholder="Contact" [(ngModel)]="employeeData.empContact" formControlName="empContact">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width " appearance="outline" [formGroup]="employeeDataForm">
                          <mat-label>Address</mat-label>
                          <textarea matInput placeholder="Address" [(ngModel)]="employeeData.empAddress" formControlName="empAddress"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3"></div>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-5">

                  </div>
                  <div class="col-md-2">
                    <button class="col-md-12 button" mat-raised-button color="primary" routerLink="/viewtabel">Back</button>
                  </div>

                </div>

              </div>
            </form>
          </div>
          <div class="col-md-2"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-2"></div>
</div>
<router-outlet></router-outlet>